/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

.confirmation-container {
  width: 100%;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  padding: 70px 10px;
}

.confirmation-title {
  font-size: 24px;
  color: #fff;
  background-color: #ffa726;
  padding: 15px 0;
  margin: 0;
  border-radius: 10px 10px 0 0;
}

.confirmation-icon {
  margin-top: 100px;
}

.checkmark-icon {
  width: 100px;
  height: 100px;
  stroke: #ffa726;
  fill: none;
}

.confirmation-message {
  font-size: 18px;
  color: #333;
  margin-bottom: 80px;
}

.cancel-button {
  background-color: #ffa726;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.cancel-button:hover {
  background-color: #fb8c00;
}
