.order-details {
  max-width: 400px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
}

.order-details h2 {
  text-align: center;
  background-color: #f9a825;
  color: white;
  padding: 10px;
  margin: 0 -20px 20px;
}

.section {
  margin-bottom: 20px;
}

.section h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #ffe0b2;
  border-radius: 8px;
}

.item img {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  margin-right: 10px;
}

.item-details {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-description {
  flex: 1;
  margin: 0;
  padding-right: 10px;
  text-align: left;
}

.separator {
  height: 20px;
  width: 1px;
  background-color: #ddd; /* Visible separator line */
  margin: 0 10px;
}

.price {
  font-weight: bold;
  font-size: 16px;
  margin: 0;
  text-align: right;
}

.total {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: bold;
  margin: 20px 0;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}

.confirm-btn {
  display: block;
  width: 100%;
  margin: 12px 0px;
  padding: 12px;
  font-size: 16px;
  color: white;
  background-color: #f9a825;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
}

.confirm-btn:hover {
  background-color: #f57c00;
}
